body {
  font-family: sans-serif;
}
h1 {
  font-weight: 500;
}
#mainDivision {
  display: flex;
  flex-flow: wrap;
  margin: 5%;
}
.todoList {
  border: solid rgba(0, 0, 0, 0.2) 1px;
  border-radius: 8%;
  height: 200px;
  width: 200px;
  margin: 2%;
}
.addTodoList {
  border: solid rgba(0, 0, 0, 0.2) 1px;
  border-radius: 8%;
  margin: 2%;
  width: 200px;
  height: 200px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
#popUpDivision {
  border: solid rgba(0, 0, 0, 0.2) 1px;
  margin-left: 35%;
  margin-top: 3%;
  position: relative;
  width: 400px;
  height: 200px;
  display: none;
  animation: animatezoom 0.6s;
}
.closeButton {
  margin-left: 94%;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.textBox {
  margin: 4%;
  outline: none;
  width: 300px;
  height: 30px;
}
.heading {
  font-weight: 500;
  margin: 2%;
}
.addButton {
  width: 100px;
  height: 30px;
  margin-left: 60%;
}
