body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.loginBox {
  margin: 20vh 0 0 35vw;
  border: solid rgba(0, 0, 0, 0.2) 1px;
  width: 30vw;
  height: 50vh;
  border-radius: 8px;
}
.loginBox:hover {
  box-shadow: 0 0 7px 1px rgba(131, 131, 131, 0.5);
}
.welcome {
  font-size: 1.3em;
  margin-left: 12vw;
}
.username,
.password {
  width: 20vw;
  height: 3vh;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
}
.username {
  margin: 5vh 0 0 5vw;
}
.password {
  margin: 5vh 0 0 5vw;
}
.invisibleIcon {
  height: 3vh;
}
.visibleIcon {
  height: 3vh;
}
.hide{
  display: none;
}
.login {
  margin: 8vh 0 5vh 5vw;
  width: 20vw;
  height: 4vh;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}
.invisibleIcon:hover,
.visibleIcon:hover,
.login:hover{
  cursor: pointer;
}
.signUpLink {
  margin-left: 10vw;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.4);
}
.signUpLink:hover{
  color: rgba(0, 0, 0, 0.7);
}